{% extends 'front/layout.html.twig' %}

{% block title %} Festnum | Modification{% endblock %}

{% block content %}
<section class="pt-4 pb-4">
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <h2 class="text-center">Modifier mon mot de passe</h2>

            {% if app.user %}
            <div class="card-body">
                {{ form_start(form) }}
                {% if form.password is defined %}
                {{ form_label(form.password, null, { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.password, { 'attr': {'class': 'form-control mb-3'} }) }}
                <div class="text-danger">
                    {{form_errors(form.password)}}
                </div>
                {% endif %}
                {{ form_row(form.plainPassword) }}
                <div class="text-danger">
                    {{form_errors(form.plainPassword)}}
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-block" type="submit">
                        Modifier
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
            {% else %}
            <div class="card mb-3 m-auto w-75">
                <div class="card-body">
                    <a href="{{ path('app_login') }}" class="link-primary">Connectez-vous</a> ou
                    <a href="{{ path('front_register') }}" class="link-primary">Créez un compte</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{#

<div class="card-body">
    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
    {% if form.password is defined %}
    {{ form_row(form.password) }}
    {% endif %}
    {{ form_row(form.plainPassword) }}
    <div class="form-group text-center">
        <button class="btn btn-primary btn-block" type="submit">
            Modifier
        </button>
    </div>
    {{ form_end(form) }}
</div>
</div>
</div>
</div>
</section> #}