{% extends 'front/layout.html.twig' %}

{% block title %}Festnum | Profil{% endblock %}

{% block content %}
<section class="pt-4 pb-4">
  <div class="container">
    <div class="col-lg-6 mx-auto">
      <h2 class="text-center">Mon profil</h2>

      {% if app.user %}
      <div class="card mb-3 m-auto w-75">
        <div class="card-header fw-bold text-center">
          <span style="text-transform: capitalize;">{{ app.user.firstname }}</span>
          <span style="text-transform: uppercase;">{{ app.user.lastname }}</span>
        </div>
        <div class="card-body">
          <p class="card-text"> Email : {{app.user.email}}</p>
          <p class="card-text"> Dernière connexion le : {{app.user.lastLoginAt|date("d/m/Y") }}</p>
          <p class="card-text"> Profil crée le : {{app.user.createdAt|date("d/m/Y")}}</p>
          <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}" class="btn btn-primary">Modifier mon mot de
            passe</a>
        </div>
      </div>
      {% else %}
      <div class="card mb-3 m-auto w-75">
        <div class="card-body">
          <a href="{{ path('app_login') }}" class="link-primary">Connectez-vous</a> ou
          <a href="{{ path('front_register') }}" class="link-primary">Créez un compte</a>

        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}