{# templates/front/block/_navbar.html.twig #}
{% trans_default_domain 'front_message' %}
{% set route = app.request.get('_route') %}

{# NAVBAR ECRAN LARGE #}
{# <nav class="navbar bg-light d-none d-md-block">
    <div class="container">
        <img src="{{ asset('ressources/logo-f.png') }}" alt="logo">
        <a href="accueil.html">Accueil</a>
        <a href="video.html">Vidéos</a>
        <a href="contact.html">Contact</a>
        <a href="jury.html">Jury</a>
        <a href="archive.html">Archives</a>
        <a href="prix.html">prix du festival</a>
        {% if app.user %}
        {# 
            <a href="#">Mon compte</a>
        {% else %}
            <a href="{{ path('app_login') }}">Mon compte</a>
        {% endif %} #}


{# ANCICENNE VERSION | NAVBAR ECRAN LARGE #}
        {# <ul class="navbar-nav mr-auto">
            {% if app.user %}
            <!-- Si utilisateur connecté -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                    <li class="dropdown-item">
                        <a href="#">Profil</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{{ path('app_logout') }}">Me déconnecter</a>
                    </li>
                    {# <li class="dropdown-item{{ route == 'app_reset_password' ? ' active' }}">
                        <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}">
                            <i class="fas fa-"></i> {{ 'nav.account_reset_password'|trans() }}
                        </a>
                    </li> 
                </ul>
            </li>
            {% else %}
            <!-- Si utilisateur non connecté -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                    <li class="dropdown-item{{ route == 'app_login' ? ' active' }}">
                        <a href="{{ path('app_login') }}">Me connecter</a>
                    </li>
                    <li class="dropdown-item{{ route == 'front_register' ? ' active' }}">
                        <a href="{{ path('front_register') }}">M'enregistrer</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav> #}

{# NAVBAR MOBILE #}
{# <nav class="navbar navbar-light bg-light p-0 d-md-none">
    <div class="container-fluid mx-0 px-0">
        <a class="navbar-brand m-1" href="#">
            <img class="mx-2" src="{{ asset('ressources/logo-f.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center bg-light">
                <li class="navitem border-bottom">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="video.html">Vidéos</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="jury.html">jury</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="archive.html">archives</a>
                </li>
                <li class="navitem ">
                    <a class="nav-link" href="prix.html">prix</a>
                </li> #}
                {# {% if app.user %}
                <li class="navitem ">
                    <a href="{{ path('app_logout') }}" class="nav-link" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon compte
                    </a>
                </li>
                {% else %}
                <li class="navitem ">
                    <a href="{{ path('app_logout') }}" class="nav-link" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon compte
                    </a>
                </li>
                {% endif %} #}



{# ANCIENNE VERSION | NAVBAR MOBILE #}
                    {# {% if app.user %}
                    <!-- Si utilisateur connecté -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                            <li class="dropdown-item">
                                <a href="#">Profil</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{ path('app_logout') }}">Me déconnecter</a>
                            </li>
                            {# <li class="dropdown-item{{ route == 'app_reset_password' ? ' active' }}">
                                <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}">
                                    <i class="fas fa-"></i> {{ 'nav.account_reset_password'|trans() }}
                                </a>
                            </li> 
                        </ul>
                    </li>
                    {% else %}
                    <!-- Si utilisateur non connecté -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                            <li class="dropdown-item{{ route == 'app_login' ? ' active' }}">
                                <a href="{{ path('app_login') }}">Me connecter</a>
                            </li>
                            <li class="dropdown-item{{ route == 'front_register' ? ' active' }}">
                                <a href="{{ path('front_register') }}">M'enregistrer</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %} 

            </ul>
        </div>
    </div>
</nav>
#}






















<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="#">Festnum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{{ route == 'front_home' ? ' active' }}">
                <a class="nav-link" href="{{ path('front_home') }}">Home</a>
            </li>

            {% if app.user %}
            <!-- Si utilisateur connecté -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i> Mon compte
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="dropdown-item">
                        <a href="{{ path('back_home') }}">
                            <i class="fas fa-user-cog"></i> Mon profil (admin)
                        </a>
                    </li>
                    {% else %}
                    <li class="dropdown-item">
                        <a href="{{ path('profile') }}">
                            <i class="fas fa-user-cog"></i> Mon profil
                        </a>
                    </li>
                    {% endif %}
                    {# <li class="dropdown-item{{ route == 'app_reset_password' ? ' active' }}">
                        <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}">
                            <i class="fas fa-key"></i> Modifier mon mot de passe
                        </a>
                    </li> #}
                    <li class="dropdown-item">
                        <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> Me déconnecter
                        </a>
                    </li>
                </ul>
            </li>
            {% else %}
            <!-- Si utilisateur non connecté -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown_account" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i> Mon compte
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_account">
                    <li class="dropdown-item{{ route == 'app_login' ? ' active' }}">
                        <a href="{{ path('app_login') }}">
                            <i class="fas fa-sign-in-alt"></i> Me connecter
                        </a>
                    </li>
                    <li class="dropdown-item{{ route == 'front_register' ? ' active' }}">
                        <a href="{{ path('front_register') }}">
                            <i class="fas fa-user"></i> M'enregistrer
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</div> 