{# NAVBAR ÉCRAN LARGE #}
<nav class="navbar p-2 bg-light d-none d-md-block">
    <div class="container">
        <a href="{{ path('front_home') }}">
            <img src="{{ asset('ressources/logo-f.png') }}" alt="logo">
        </a>
        <a href="{{ path('front_home') }}">Accueil</a>
        <a href="{{ path('front_contact') }}">Contact</a>
        <a href="{{ path('front_jury') }}">Jury</a>
        <a href="{{ path('front_prix') }}">Prix du festival</a>
        <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Mon compte
            </a>
            {% if app.user %}
            <!-- Si utilisateur connecté -->
            <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item px-3 py-2 border-bottom" href="{{ path('front_profile') }}">
                        <i class="fas fa-user"></i> Mon profil
                    </a>
                </li>
                <li>
                    <a class="dropdown-item px-3 py-2 border-bottom"
                        href="{{ path('submit_project', {id: app.user.id}) }}">
                        <i class="fas fa-file-upload"></i> Soumettre mon film
                    </a>
                </li>
                <li>
                    <a class="dropdown-item px-3 py-2" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt"></i> Me déconnecter
                    </a>
                </li>
            </ul>
            {% else %}
            <!-- Si utilisateur non connecté -->
            <ul class="dropdown-menu p-0 text-center" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item p-2" href="{{ path('app_login') }}">
                        <i class="fas fa-sign-out-alt"></i> Me connecter</a></li>
                <li><a class="dropdown-item p-2" href="{{ path('front_register') }}">
                        <i class="fas fa-save"></i> M'enregistrer</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

{# NAVBAR ÉCRAN MOBILE #}
<nav class="navbar navbar-light bg-light p-0 d-md-none">
    <div class="container-fluid mx-0 px-0">
        <a class="navbar-brand m-1" href="{{ path('front_home') }}"><img class="mx-2"
                src="{{ asset('ressources/logo-f.png') }}" alt="logo"></a>
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center bg-light">
                <li class="navitem border-bottom">
                    <a class="nav-link" href="{{ path('front_home') }}">Accueil</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="{{ path('front_contact') }}">Contact</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="{{ path('front_jury') }}">Jury</a>
                </li>
                <li class="navitem border-bottom">
                    <a class="nav-link" href="{{ path('front_prix') }}">Prix</a>
                </li>

                <li class="dropdown navitem border-bottom">
                    <a class="btn btn-light dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mon compte
                    </a>
                    {% if app.user %}
                    <!-- Si utilisateur connecté -->
                    <ul class="dropdown-menu p-0 border-0 bg-light text-center" aria-labelledby="dropdownMenuLink">
                        <li class="navitem border-bottom">
                            <a class="dropdown-item nav-link" href="{{ path('front_profile') }}">
                                <i class="fas fa-user"></i> Mon profil
                            </a>
                        </li>
                        <li class="navitem border-bottom">
                            <a class="dropdown-item nav-link" href="{{ path('submit_project', {id: app.user.id}) }}">
                                <i class="fas fa-file-upload"></i> Soumettre mon film
                            </a>
                        </li>
                        <li class="navitem">
                            <a class="dropdown-item nav-link" href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt"></i> Me déconnecter
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <!-- Si utilisateur non connecté -->
                    <ul class="dropdown-menu p-0 border-0 bg-light text-center" aria-labelledby="dropdownMenuLink">
                        <li class="navitem border-bottom">
                            <a class="dropdown-item nav-link" href="{{ path('app_login') }}">
                                <i class="fas fa-sign-in-alt"></i> Me connecter</a>
                        </li>
                        <li class="navitem">
                            <a class="dropdown-item nav-link" href="{{ path('front_register') }}">
                                <i class="fas fa-save"></i> M'enregistrer</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>